:root {
    --background: #E3E3E3;
    --background-dark: #151515;
    --text-primary: #151515;
    --text-primary-light: #E1E1E1;
    --text-secondary: #3b3b3b;
    --text-secondary-light: #B5B5B5;
    --primary: #3B79C1;
    --complimentary: #c1833b;
  }

body {
    background-color: var(--background);
    color: var(--text-primary);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

body.dark {
    background-color: var(--background-dark);
}

.container {
    margin-top: 5em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
}

h4.custom {
    margin-bottom: 0 !important;
    font-size: 2.0rem !important;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

h4.custom.dark {
    color: var(--text-primary-light);
}

h4.primary {
    color: var(--primary) !important;
}

h5.custom.dark {
    color: var(--text-secondary-light);
}

h5.custom {
    color: var(--text-secondary);
    font-size: 1.8rem !important;
    line-height: 1 !important;
}

h6.custom.dark {
    color: var(--text-secondary-light);
}

h6.custom {
    color: var(--text-secondary);
    margin-bottom: 0 !important;
    line-height: 1 !important;
}

.text-center {
    text-align: center;
}

.profile {
    text-align: center;
}

.contact-link {
    display: inline-block;
}

.contact-icon {
    height: 24px;
    width: 24px;
    padding-right: 6px;
}

.cert-badge {
    width: 70px;
    padding-right: 1rem;
}

.cert-badges a {
    display: inline-block;
}

ul.dark {
    color: var(--text-secondary-light);
}

ul {
    margin-top: 1rem;
    margin-left: 4rem;
    color: var(--text-secondary);
    list-style: disc;
}

ul ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: circle;
}

ul li {
    line-height: 1.25;
    margin-bottom: 0;
}

.switch {
    background: var(--background);
    border: var(--background-dark);
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    width: 36px;
    height: 16px;
    display: inline-flex
}

.switch .switch-circle {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: var(--background-dark);
    margin-top: 1px;
    margin-left: 2px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.switch.on {
    border: var(--primary);
    border: var(--primary);
    border-width: 2px;
    border-style: solid;
}

.switch.on .switch-circle {
    margin-left: 20px;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: var(--primary);
    margin-right: 2px;
}

@media (min-width: 800px) {
    .sidebar {
        position: fixed;
    }
}

@media (min-width: 550px) {
    .profile {
        width: 100%;
    }
}