:root {
  --dark-blue: #121c23;
  --dark-lightblue: #2c4456;
  --dark-bluegreen: #122322;
  --dark-blueorange: #231912;
  --dark-bluered: #121423;
  --light-bluewhite: #a0a4a7;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-blue);
}

hr {
    color: var(--light-bluewhite);
    background-color: var(--light-bluewhite);
    width: 30%;
    height: 0 !important;
}

p {
    color: #93979b;
}

.bg-darklightblue {
    background-color: var(--dark-lightblue);
}

.bg-darkbluegreen {
    background-color: var(--dark-bluegreen);
}

.bg-darkblueorange {
    background-color: var(--dark-blueorange);
}

.bg-darkblue {
    background-color: var(--dark-blue);
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vcenter {
    position: relative;
    top: 35%;
}

.bottom {
    position: absolute;
    bottom: 10%;
}

.page {
    height: 100vh;
    width: 100%;
    padding-top: 56px;
}

.new_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in-out;
  background-color: var(--dark-lightblue);
}

.new_card:hover {
  transform: scale(1.1);
  z-index: 1;
}

#about {
    background-image: url("../img/Jahn,Noah_0764E.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 5%;
}

.personal-img {
    width: 40%;
    border-radius: 50%
}

.center-block {
   margin-left: auto !important;
   margin-right: auto !important;
   display: block !important;
}



@media (max-width: 992px) {
    #about {
        background-image: url("../img/Jahn,Noah_0764E.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 5%;
    }
}

@media (max-width: 576px) {


    #about {
        background-color: var(--dark-blue);
        background-image: url();
    }
}
